<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <div>
    <a
      href="/dashboard"
      class="brand-link"
      style="display: flex; justify-content: center">
      <img src="/images/logo_boc+-01.png" alt="image" style="width: 100px" />
    </a>
  </div>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul
        class="nav nav-pills nav-sidebar flex-column"
        data-widget="treeview"
        role="menu"
        data-accordion="false">
        <li class="nav-item">
          <a href="/dashboard" class="nav-link">
            <i class="nav-icon fas fa-home"></i>
            <p>Dashboard</p>
          </a>
        </li>

        <li class="nav-header">Home</li>

        <li class="nav-item">
          <a href="/charts" class="nav-link">
            <i class="nav-icon fas fa-chart-pie"></i>
            <p>Grafik</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/data" class="nav-link">
            <i class="nav-icon far fa-calendar-alt"></i>
            <p>Form</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/report" class="nav-link">
            <i class="nav-icon far fa-file"></i>
            <p>Report</p>
          </a>
        </li>

        <li class="nav-header">History</li>
        <li class="nav-item">
          <a href="/history" class="nav-link">
            <i class="nav-icon far fa-file"></i>
            <p>History</p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
